{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">
                            {% if object %}
                                Update Organization
                            {% else %}
                                Add New Organization
                            {% endif %}
                        </div>
                        <div class="card-category">Page Subtitle</div>
                    </div>

                    <div class="card-body">
                        <div class="col-md-6">
                            <form action="" method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/form.html' %}

                                <div class="form-group mt-3">
                                    <button type="submit" class="btn btn-primary btn-rounded">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}