{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div class="container-fluid">

        <h4 class="page-title">Program</h4>

        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-header">
                        <div class="card-title">List of Programs</div>
                    </div>

                    <br>

                    <div class="col-md-12 row">

                        <!-- Search -->
                        <div class="col-md-6">
                            <form class="navbar-left navbar-form nav-search mr-md-3" method="get">
                                <div class="input-group">
                                    <input type="text" name="q" placeholder="Search..." class="form-control" value="{{ request.GET.q }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Sort -->
                        <div class="col-md-12">
                            <form method="get" class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <label for="smallSelect" class="col-form-label">Sort by</label>
                                </div>
                                <div class="col-auto">
                                    <select class="form-control form-control-sm" id="smallSelect" name="sort_by">
                                        <option value="prog_name" {% if request.GET.sort_by == 'prog_name' %}selected{% endif %}>Program Name</option>
                                        <option value="college__college_name" {% if request.GET.sort_by == 'college__college_name' %}selected{% endif %}>College</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-sm btn-rounded">Sort</button>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="card-body">

                        <table class="table table-striped mt-3">

                            <thead>
                                <tr>
                                    <th>Program Name</th>
                                    <th>College</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{ object.prog_name }}</td>
                                    <td>{{ object.college }}</td>
                                    <td>
                                        <a href="program_list/{{ object.id }}">Edit</a> |
                                        <a href="program_list/{{ object.id }}/delete" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" style="text-align:center;">
                                        No Records Found
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                        {% include 'includes/pagination.html' %}

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}