{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
  <div class="container-fluid">

    <h4 class="page-title">College</h4>

    <div class="row">
      <div class="col-md-12">

        <div class="card">

          <div class="card-header">
            <div class="card-title">Delete College</div>
            <div class="card-category">Confirmation</div>
          </div>

          <div class="col-md-6">

            <div class="card-body">

              <form action="" method="post">

                <p>Are you sure you want to delete "{{ object }}"?</p>

                {% csrf_token %}

                <button type="submit" class="btn btn-danger btn-rounded">
                  Delete
                </button>

                <a href="{% url 'college-list' %}" class="btn btn-secondary">
                  Cancel
                </a>

              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}